.AL {
    background-image: url("https://i.imgur.com/HXlcFTE.jpg");
}

.AK {
    background-image: url("https://i.imgur.com/8zxDu85.jpg");
}

.AR {
    background-image: url("https://i.imgur.com/uSs6lF9.jpg");
}

.AZ {
    background-image: url("../../public/images/AZ.jpg");
}

.CA {
    background-image: url("https://i.imgur.com/x8F41wX.jpg");
}

.CO {
    background-image: url("https://i.imgur.com/Oy4pprc.jpg");
}

.CT {
    background-image: url("https://i.imgur.com/14H685M.jpg");
}

.DC {
    background-image: url("https://i.imgur.com/XszVIai.jpg");
}

.DE {
    background-image: url("https://i.imgur.com/wn0NG76.jpg");
}

.FL {
    background-image: url("https://i.imgur.com/Ky4lVNY.jpg");
}

.GA {
    background-image: url("https://i.imgur.com/BslvHwL.jpg");
}

.HI {
    background-image: url("https://i.imgur.com/Pj80WOX.jpg");
}

.IA {
    background-image: url("../../public/images/IA.jpg");
}

.ID {
    background-image: url("../../public/images/ID.jpg");
}

.IL {
    background-image: url("../../public/images/IL.jpg");
}

.IN {
    background-image: url("../../public/images/IN.jpg");
}

.KS {
    background-image: url("../../public/images/KS.jpg");
}

.KY {
    background-image: url("../../public/images/KY.jpg");
}

.LA {
    background-image: url("../../public/images/LA.jpg");
}

.MA {
    background-image: url("../../public/images/MA.jpg");
}

.MD {
    background-image: url("../../public/images/MD.jpg");
}

.ME {
    background-image: url("../../public/images/ME.jpg");
}

.MI {
    background-image: url("../../public/images/MI.jpg");
}

.MN {
    background-image: url("../../public/images/MN.jpg");
}

.MO {
    background-image: url("../../public/images/MO.jpg");
}

.MS {
    background-image: url("../../public/images/MS.jpg");
}

.MT {
    background-image: url("../../public/images/MT.jpg");
}

.NC {
    background-image: url("../../public/images/NC.jpg");
}

.ND {
    background-image: url("../../public/images/ND.jpg");
}

.NE {
    background-image: url("../../public/images/NE.jpg");
}

.NH {
    background-image: url("../../public/images/NH.jpg");
}

.NJ {
    background-image: url("../../public/images/NJ.jpg");
}

.NM {
    background-image: url("../../public/images/NM.jpg");
}

.NV {
    background-image: url("../../public/images/NV.jpg");
}

.NY {
    background-image: url("../../public/images/NY.jpg");
}

.OH {
    background-image: url("../../public/images/OH.jpg");
}

.OK {
    background-image: url("../../public/images/OK.jpg");
}

.OR {
    background-image: url("../../public/images/OR.jpg");
}

.PA {
    background-image: url("../../public/images/PA.jpg");
}

.RI {
    background-image: url("../../public/images/RI.jpg");
}

.SC {
    background-image: url("../../public/images/SC.jpg");
}

.SD {
    background-image: url("../../public/images/SD.jpg");
}

.TN {
    background-image: url("../../public/images/TN.jpg");
}

.TX {
    background-image: url("../../public/images/TX.jpg");
}

.UT {
    background-image: url("../../public/images/UT.jpg");
}

.VA {
    background-image: url("../../public/images/VA.jpg");
}

.VT {
    background-image: url("../../public/images/VT.jpg");
}

.WA {
    background-image: url("../../public/images/WA.jpg");
}

.WI {
    background-image: url("../../public/images/WI.jpg");
}

.WV {
    background-image: url("../../public/images/WV.jpg");
}

.WY {
    background-image: url("../../public/images/WY.jpg");
}

.home {
    background-image: url("../../public/images/homepage.jpg");
}