.AL {
    background-image: url("https://i.imgur.com/nl6EySb.jpg");
}

.AK {
    background-image: url("https://i.imgur.com/8zxDu85.jpg");
}

.AR {
    background-image: url("https://i.imgur.com/HXlcFTE.jpg");
}

.AZ {
    background-image: url("../../public/images/AZ.jpg");
}

.CA {
    background-image: url("https://i.imgur.com/x8F41wX.jpg");
}

.CO {
    background-image: url("https://i.imgur.com/Oy4pprc.jpg");
}

.CT {
    background-image: url("https://i.imgur.com/14H685M.jpg");
}

.DC {
    background-image: url("https://i.imgur.com/XszVIai.jpg");
}

.DE {
    background-image: url("https://i.imgur.com/wn0NG76.jpg");
}

.FL {
    background-image: url("https://i.imgur.com/Ky4lVNY.jpg");
}

.GA {
    background-image: url("https://i.imgur.com/BslvHwL.jpg");
}

.HI {
    background-image: url("https://i.imgur.com/Pj80WOX.jpg");
}

.IA {
    background-image: url("https://i.imgur.com/uP6zIwd.jpg");
}

.ID {
    background-image: url("https://i.imgur.com/tboq7Qs.jpg");
}

.IL {
    background-image: url("https://i.imgur.com/kGPxpE7.jpg");
}

.IN {
    background-image: url("https://i.imgur.com/WXtg0Gr.jpg");
}

.KS {
    background-image: url("https://i.imgur.com/IAyn4Y5.jpg");
}

.KY {
    background-image: url("https://i.imgur.com/GGOZXG2.jpg");
}

.LA {
    background-image: url("https://i.imgur.com/IHMrYc2.jpg");
}

.MA {
    background-image: url("https://i.imgur.com/WdffHEV.jpg");
}

.MD {
    background-image: url("https://i.imgur.com/GjLXsXx.jpg");
}

.ME {
    background-image: url("https://i.imgur.com/xQZqhkJ.jpg");
}

.MI {
    background-image: url("https://i.imgur.com/D2xYD82.jpg");
}

.MN {
    background-image: url("https://i.imgur.com/1rqEXWR.jpg");
}

.MO {
    background-image: url("https://i.imgur.com/OUrWYgZ.jpg");
}

.MS {
    background-image: url("https://i.imgur.com/2ETcqHW.jpg");
}

.MT {
    background-image: url("https://i.imgur.com/58NDU0j.jpg");
}

.NC {
    background-image: url("https://i.imgur.com/vfAXYsg.jpg");
}

.ND {
    background-image: url("https://i.imgur.com/tPuUPhs.jpg");
}

.NE {
    background-image: url("https://i.imgur.com/JRSObRT.jpg");
}

.NH {
    background-image: url("https://i.imgur.com/E1XthnH.jpg");
}

.NJ {
    background-image: url("https://i.imgur.com/NyE7j1a.jpg");
}

.NM {
    background-image: url("https://i.imgur.com/FhuWe2k.jpg");
}

.NV {
    background-image: url("https://i.imgur.com/ZWtgPPK.jpg");
}

.NY {
    background-image: url("https://i.imgur.com/0MOeIFS.jpg");
}

.OH {
    background-image: url("https://i.imgur.com/6Mvm4KD.jpg");
}

.OK {
    background-image: url("https://i.imgur.com/KAHEIRQ.jpg");
}

.OR {
    background-image: url("https://i.imgur.com/i0NolZz.jpg");
}

.PA {
    background-image: url("https://i.imgur.com/JMVshxE.jpg");
}

.RI {
    background-image: url("https://i.imgur.com/2E7VGOO.jpg");
}

.SC {
    background-image: url("https://i.imgur.com/fuH4Qdq.jpg");
}

.SD {
    background-image: url("https://i.imgur.com/h60dUNm.jpg");
}

.TN {
    background-image: url("https://i.imgur.com/tTRPM18.jpg");
}

.TX {
    background-image: url("https://i.imgur.com/45Z0Hjv.jpg");
}

.UT {
    background-image: url("https://i.imgur.com/wd0GiKb.jpg");
}

.VA {
    background-image: url("https://i.imgur.com/kbnATp5.jpg");
}

.VT {
    background-image: url("https://i.imgur.com/Mv1kdiJ.jpg");
}

.WA {
    background-image: url("https://i.imgur.com/uSs6lF9.jpg");
}

.WI {
    background-image: url("https://i.imgur.com/OC444kv.jpg");
}

.WV {
    background-image: url("https://i.imgur.com/nJQyw1e.jpg");
}

.WY {
    background-image: url("https://i.imgur.com/5ySZ0B2.jpg");
}

.home {
    background-image: url("../../public/images/homepage.jpg");
}