.AL {
    background-image: url("../../public/images/AL.jpg");
}

.AK {
    background-image: url("../../public/images/AK.jpg");
}

.AR {
    background-image: url("../../public/images/AR.jpg");
}

.AZ {
    background-image: url("../../public/images/AZ.jpg");
}

.CA {
    background-image: url("../../public/images/CA.jpg");
}

.CO {
    background-image: url("../../public/images/CO.jpg");
}

.CT {
    background-image: url("../../public/images/CT.jpg");
}

.DC {
    background-image: url("../../public/images/DC.jpg");
}

.DE {
    background-image: url("../../public/images/DE.jpg");
}

.FL {
    background-image: url("../../public/images/FL.jpg");
}

.GA {
    background-image: url("../../public/images/GA.jpg");
}

.HI {
    background-image: url("../../public/images/HI.jpg");
}

.IA {
    background-image: url("../../public/images/IA.jpg");
}

.ID {
    background-image: url("../../public/images/ID.jpg");
}

.IL {
    background-image: url("../../public/images/IL.jpg");
}

.IN {
    background-image: url("../../public/images/IN.jpg");
}

.KS {
    background-image: url("../../public/images/KS.jpg");
}

.KY {
    background-image: url("../../public/images/KY.jpg");
}

.LA {
    background-image: url("../../public/images/LA.jpg");
}

.MA {
    background-image: url("../../public/images/MA.jpg");
}

.MD {
    background-image: url("../../public/images/MD.jpg");
}

.ME {
    background-image: url("../../public/images/ME.jpg");
}

.MI {
    background-image: url("../../public/images/MI.jpg");
}

.MN {
    background-image: url("../../public/images/MN.jpg");
}

.MO {
    background-image: url("../../public/images/MO.jpg");
}

.MS {
    background-image: url("../../public/images/MS.jpg");
}

.MT {
    background-image: url("../../public/images/MT.jpg");
}

.NC {
    background-image: url("../../public/images/NC.jpg");
}

.ND {
    background-image: url("../../public/images/ND.jpg");
}

.NE {
    background-image: url("../../public/images/NE.jpg");
}

.NH {
    background-image: url("../../public/images/NH.jpg");
}

.NJ {
    background-image: url("../../public/images/NJ.jpg");
}

.NM {
    background-image: url("../../public/images/NM.jpg");
}

.NV {
    background-image: url("../../public/images/NV.jpg");
}

.NY {
    background-image: url("../../public/images/NY.jpg");
}

.OH {
    background-image: url("../../public/images/OH.jpg");
}

.OK {
    background-image: url("../../public/images/OK.jpg");
}

.OR {
    background-image: url("../../public/images/OR.jpg");
}

.PA {
    background-image: url("../../public/images/PA.jpg");
}

.RI {
    background-image: url("../../public/images/RI.jpg");
}

.SC {
    background-image: url("../../public/images/SC.jpg");
}

.SD {
    background-image: url("../../public/images/SD.jpg");
}

.TN {
    background-image: url("../../public/images/TN.jpg");
}

.TX {
    background-image: url("../../public/images/TX.jpg");
}

.UT {
    background-image: url("../../public/images/UT.jpg");
}

.VA {
    background-image: url("../../public/images/VA.jpg");
}

.VT {
    background-image: url("../../public/images/VT.jpg");
}

.WA {
    background-image: url("../../public/images/WA.jpg");
}

.WI {
    background-image: url("../../public/images/WI.jpg");
}

.WV {
    background-image: url("../../public/images/WV.jpg");
}

.WY {
    background-image: url("../../public/images/WY.jpg");
}

.home {
    background-image: url("../../public/images/homepage.jpg");
}