.AL {
    background-image: url("../images/AL.jpg");
}

.AK {
    background-image: url("../images/AK.jpg");
}

.AZ {
    background-image: url("../images/AZ.jpg");
}

.CA {
    background-image: url("../images/CA.jpg");
}

.CO {
    background-image: url("../images/CO.jpg");
}

.CT {
    background-image: url("../images/CT.jpg");
}

.DC {
    background-image: url("../images/DC.jpg");
}

.DE {
    background-image: url("../images/DE.jpg");
}

.FL {
    background-image: url("../images/FL.jpg");
}

.GA {
    background-image: url("../images/GA.jpg");
}

.HI {
    background-image: url("../images/HI.jpg");
}

.IA {
    background-image: url("../images/IA.jpg");
}

.ID {
    background-image: url("../images/ID.jpg");
}

.IL {
    background-image: url("../images/IL.jpg");
}

.IN {
    background-image: url("../images/IN.jpg");
}

.KS {
    background-image: url("../images/KS.jpg");
}

.KY {
    background-image: url("../images/KY.jpg");
}

.LA {
    background-image: url("../images/LA.jpg");
}

.MA {
    background-image: url("../images/MA.jpg");
}

.MD {
    background-image: url("../images/MD.jpg");
}

.ME {
    background-image: url("../images/ME.jpg");
}

.MI {
    background-image: url("../images/MI.jpg");
}

.MN {
    background-image: url("../images/MN.jpg");
}

.MO {
    background-image: url("../images/MO.jpg");
}

.MS {
    background-image: url("../images/MS.jpg");
}

.MT {
    background-image: url("../images/MT.jpg");
}

.NC {
    background-image: url("../images/NC.jpg");
}

.ND {
    background-image: url("../images/ND.jpg");
}

.NE {
    background-image: url("../images/NE.jpg");
}

.NH {
    background-image: url("../images/NH.jpg");
}

.NJ {
    background-image: url("../images/NJ.jpg");
}

.NM {
    background-image: url("../images/NM.jpg");
}

.NV {
    background-image: url("../images/NV.jpg");
}

.NY {
    background-image: url("../images/NY.jpg");
}

.OH {
    background-image: url("../images/OH.jpg");
}

.OK {
    background-image: url("../images/OK.jpg");
}

.OR {
    background-image: url("../images/OR.jpg");
}

.PA {
    background-image: url("../images/PA.jpg");
}

.RI {
    background-image: url("../images/RI.jpg");
}

.SC {
    background-image: url("../images/SC.jpg");
}

.SD {
    background-image: url("../images/SD.jpg");
}

.TN {
    background-image: url("../images/TN.jpg");
}

.TX {
    background-image: url("../images/TX.jpg");
}

.UT {
    background-image: url("../images/UT.jpg");
}

.VA {
    background-image: url("../images/VA.jpg");
}

.VT {
    background-image: url("../images/VT.jpg");
}

.WA {
    background-image: url("../images/WA.jpg");
}

.WI {
    background-image: url("../images/WI.jpg");
}

.WV {
    background-image: url("../images/WV.jpg");
}

.WY {
    background-image: url("../images/WY.jpg");
}